/* All Headerlogo.tsx css styles*/

#HeaderLogoStyle{
    font-family: 'Montserrat';
    font-weight: bolder;
    font-size: 40px;
    color: white;
    margin-left: 20px;
}
#opzon{
    color:rgb(92, 0, 0);
}

/*All Navbar.tsx css styles*/
#HeaderNavbar{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
/* Css for the buttons on the navbar*/
#Navbutton{
    font-family: 'Montserrat';
    font-weight: 800;
    

    background-color: transparent;
    margin: 10px;
    border-style: none;
    color: white;
}
#Navbutton:hover{
    color: rgb(92, 0, 0);
}
.IdiomContainer{
    position: relative;
    display: inline-block;

}
#NavbuttonContainer{

    list-style: none;
    display: inline;

}
#NavbuttonSign{
    border-color: transparent;
}
#NavbuttonSign:hover{
    color: rgb(92, 0, 0);
    border: solid 2px rgba(255, 0, 0, 0.692)
}

#NavbuttonSign{
    font-family: 'Montserrat';
    font-weight: 900;

    background-color: transparent;
    margin: 10px;
    padding: 1em;
    color: white;
}


/* Dropdowns*/
 #DropdownLeng{
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: black;

    top: 50px;
}
