#HeaderContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 3px solid black;
    background-image: linear-gradient( to right,rgb(0,0,0, 0.95) 0%, rgba(27, 1, 1, 0.91)  51%, rgb(8, 8, 8,0.95)  100%) ;
}
         

 